<configuration>
  <system.webServer>

    <handlers>
            <remove name="WebDAV" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
            <add name="WebDAV" path="*" verb="" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
    </handlers>
	
    <rewrite>
      <rules>
        <rule name="sendToNode">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
<iisnode watchedFiles="*.js;node_modules\*;views\*.ejs" nodeProcessCommandLine="\program files\nodejs\node.exe" />
        <defaultDocument enabled="false" />
        <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" />
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>